body {
    color: red;
}

.title {
    color: blue;
}

.subtitle {
    color: green;
}

@media all and (max-width:600px){   
    body {
        background-color: black;
    }
}

@media (orientation: portrait) {   /*per vedere mettere il dispositivo in verticale*/
    body {
        background-color: yellow;
    }
}

/*i media query permettono di modificare il css in base alla larghezza della pagina (per i dispositivi 
mobili o con schermi più piccoli*/