body{
    background-color: black;
    margin:auto;
}
#p1{
    border: 5px solid;
    width: 600px;
    height: auto;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color:lime;
    padding: 100px; /*il padding è la distanza tra il testo e il bordo, da non confondere con margin.*/
}

#p2{
    position: absolute;
    top:400px; /*sta a 400 px dal top della pagina*/
    margin-top: 0px;
    border:5px dotted;
    border-color: aqua;
    width: 400px;
    height: auto;
    color: rgb(194, 192, 192);
    margin-left: 60px;
}