.box{
    width: 100px;
    height: 100px;
    border: 1px solid red; 
    font-size: 20px;
    text-align: center;
    background-color: lightblue;

    float:right;         /*float = posiziona un elemento a destra/sinistra di una box/immagine...*/
                        /*Usato molto per "avvolgere" elementi attorno a delle foto/box*/   
}
p{
    clear:right /*se ci sono elementi fluttuanti a destra di un elemento con clear: 
                    right, quest'ultimo sarà spinto verso il basso, 
                    al di sotto degli elementi fluttuanti a destra. */
} 