#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;
    position: relative; /*
                            position: static;   → Default, nessun posizionamento speciale.
                            position: relative; → Sposta l'elemento rispetto alla sua posizione originale.
                            position: absolute; → Posiziona l'elemento rispetto a un genitore posizionato.
                            position: fixed;    → Fissa l'elemento alla viewport (es. navbar, pulsanti).
                            position: sticky;   → Elemento "appiccicoso" durante lo scorrimento (es. intestazioni).
                        */

    top: 0px;
    left: 0px;
}
#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    position: relative;

    top: -200px; /*ci sono anche valori negativi*/
    left: 100px;
}

